/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}
.loginWrapper {
  background-color: var(--color-f5f5f7);
  padding: 40px 0;
}
.container {
  width: 90%;
  margin: 150px auto 0;
}
.authCard {
  padding: 20px;
  background-color: #fff;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}
.authCard > h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}
.authForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.authForm > div > input {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.authForm > div > a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.button {
  background-color: var(--color-232f3e);
  color: #fff;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  border: 0;
}
.button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
.signUpButton {
  background-color: var(--color-febd69);
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  border: 0;
}
.signUpButton:hover {
  background-color: var(--color-232f3e);
}
.signUpButton:hover .signUp{
  color: #fff;

}
.signUp {
  color: var(--color-131921);
  text-decoration: none;
}
.error {
  color: red;
  font-size: 12px;
}
