/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.editProduct {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.deleteBody {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  background: #faf5f5;
  padding: 10px;
  border-radius: 10px;
}
.editBody {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #faf5f5;
  padding: 10px;
  border-radius: 10px;
}
.editTitle {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
.buttons {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
}
.cancelButton {
  border: none;
  background: rgb(240, 100, 24);
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}
.deleteButton {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background: rgb(255, 0, 0);
}
.editProductBody {
  display: flex;
}
