/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.recentRow {
  flex-grow: 1;
}
.editProduct {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.deleteBody {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  background: #faf5f5;
  padding: 10px;
  border-radius: 10px;
}
.deleteTitle {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
.buttons {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
}
.displayNone {
  display: none;
}
.cancelButton {
  border: none;
  background: rgb(240, 100, 24);
  border-radius: 5px;
  font-size: 20px;
}
.deleteButton {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background: rgb(255, 0, 0);
}
.ProductBody {
  display: flex;
}
.page {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  margin-top: 10px;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.pageNumber {
  display: inline-block;
  line-height: 30px !important;
  padding: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}
.activeNumber {
  border: 1px solid #4096ff;
  font-weight: 500;
}
.pageNumbers {
  display: flex;
  gap: 10px;
}
.pageIcon {
  cursor: pointer;
}
