/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
/* Your styles goes here. */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.recentRow {
  flex-grow: 1;
}
h3 {
  margin-bottom: 30px;
}
.title {
  font-size: 28px;
  color: var(--color-212529);
  font-family: Roboto !important;
}
.recentRowTable {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
.table {
}
.sortTableTitleActive {
  background: #ebe9e9;
}
.sortTableTitleActive > svg {
  fill: #4096ff;
}
.sortTableTitle {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.sortTableTitle > svg {
  font-size: 18px;
}
table {
  width: 100%;
  background: #ffffff;
  position: relative;
  border-spacing: 0px;
}
thead {
  background-color: #fafafa;
}
thead::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
  left: 0;
  background: #f0f0f0;
}

th {
  padding: 20px;
  text-align: left;
}

th {
  margin-right: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.88);
}

td {
  padding: 14px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2f4858;
}
tbody > tr {
  border-bottom: 1px solid #f2f2f2;
}
tbody > tr:hover {
  background: #fafafa;
}
.pages {
}
.page {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  margin-top: 10px;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.pageNumber {
  display: inline-block;
  line-height: 30px !important;
  padding: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}
.activeNumber {
  border: 1px solid #4096ff;
  font-weight: 500;
}
.pageNumbers {
  display: flex;
  gap: 10px;
}
.pageIcon {
  cursor: pointer;
}
.page {
  right: 20px;
  bottom: 40px;
}
